<head>
  <title>Playlist</title>
  <link rel="stylesheet" type="text/css" href="./../stylesheets/reset.css">
  <link rel="stylesheet" type="text/css" href="./../stylesheets/main.css">
</head>

<body>
  <header>
    <nav>
      <div class="login">
      Admin Username
      </div>
      <div class="lower-nav">
        <ul>
          <li>SHARES</li>
          <li>PLAYLISTS</li>
          <li>PERSONAL VIDEOS</li>
        </ul>
        <div class="logo">
          2WIN
        </div>
      </div>
    </nav>
  </header>
<div class="subheader">
  Shares
</div>
<div class="grid-container">
  <div class="user-info-1">
    Recipeint's Namehere
    Monday 01/23/16 10:22am
    <a href="link-tag"> http://2win.2winstage.com/p/recipients_namehere</a>
    PLAYLIST
    Name of Playlist
    ATTACHMENTS
    04
  </div>
  <div class="user-info-2">
    Recipeint's Namehere
    Monday 01/23/16 10:22am
    <a href="link-tag"> http://2win.2winstage.com/p/recipients_namehere</a>
    PLAYLIST
    Name of Playlist
    ATTACHMENTS
    04
  </div>
  <div class="user-info-3">
    Recipeint's Namehere
    Monday 01/23/16 10:22am
    <a href="link-tag"> http://2win.2winstage.com/p/recipients_namehere</a>
    PLAYLIST
    Name of Playlist
    ATTACHMENTS
    04
  </div>
  <div class="user-info-4">
    Recipeint's Namehere
    Monday 01/23/16 10:22am
    <a href="link-tag"> http://2win.2winstage.com/p/recipients_namehere</a>
    PLAYLIST
    Name of Playlist
    ATTACHMENTS
    04
  </div>
</div>
</body>
