body {
  width: 1200px;
  height: 800px;
  background-color: #efefef
}
.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-template-areas: ". . . ." ". . . .";
  width: auto;
  height: 750px;
}

.user-info-1 {
  grid-column: 1/2;
  grid-row: 1/2;
  background-color: white;
  border: 5px solid grey;
  padding: 25px;
  margin: 5px
}

.user-info-2 {
  grid-column: 2/3;
  grid-row: 1/2;
  background-color: white;
  border: 5px solid grey;
  padding: 25px;
  margin: 5px
}
.user-info-3 {
  grid-column: 3/4;
  grid-row: 1/2;
  background-color: white;
  border: 5px solid grey;
  padding: 25px;
  margin: 5px
}
.user-info-4 {
  grid-column: 4/5;
  grid-row: 1/2;
  background-color: white;
  border: 5px solid grey;
  padding: 25px;
  margin: 5px
}

.login {
  text-align: right;
  color: blue;
}

nav {
  background-color: #434343;
  height: 100px;
}

.lower-nav {
  display: flex;
  justify-content: space-between;
}

ul {
  list-style-type: none;
  background-color: #434343;
}
li {
  float:left;
  padding: 20px;
}

.subheader {
  font-size: 50;
}
